BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
# ColumnLimit: 0  # default C/C++ vscode format settings
AccessModifierOffset: -4
NamespaceIndentation: All
FixNamespaceComments: false
ShortLambdaStyle: SLS_All
